*{
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
    grid-template-areas: 'logo logo'
    'navigation navigation'
    'img-banner ad-banner'
    'article-container ad-banner';

    height: 100vh;
    grid-template-columns: auto 19vw;
    grid-template-rows:15vh 10vh 50vh 30vh;
}

#logo{
    background: rgba(6, 193, 240, 0.54);
    display: grid;
    grid-area: logo;
    justify-content: center;
}
#img-logo{
    height: 100px;
    width: 100px;
}

.navigation{
    background-color: rgba(35, 35, 35, 0.806);
    display: flex;
    grid-area: navigation;
    justify-content: flex-end;
}
.nav-container{
    display: flex;
    width: 40vw;
    justify-content: space-evenly;
    align-items: center;
}
.items{
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgba(245, 252, 252, 0.811);
    font-size: 20px;
}

.img-banner{
    display: grid;
    grid-area: img-banner;
}
#bg{
    width: 86vw;
    height: 30vw;
}
.article-container{
    background-color: blue;
    display: grid;
    grid-template-columns: 27vw 27vw 27vw;
}
.articles{
    border-left: 1px solid black;
}
.ad-banner{
    display: grid;
    grid-area: ad-banner;
    
}

.ad-banner img{
    width: 13.5vw;
}

@media only screen and (max-width: 1000px) {
    .container{
        grid-template-areas: 'logo'
        'navigation'
        'img-banner'
        'article-container'
        'ad-banner';
        grid-template-columns: auto;
        grid-template-rows:auto auto auto auto auto;
    }
}